# .github/workflows/ci.yml
name: CI
defaults:
  run:
    shell: bash -ieo pipefail {0}

    
on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: "pycram/semantic_world:jazzy"
    steps:
    - uses: actions/checkout@v4
      with:
        path: "ros/src/semantic_digital_twin"
        repository: ${{ github.repository }}
        ref: ${{ github.ref }}
        submodules: 'false'
    - name: Update semantic_digital_twin source files
      run: |
        rm -rf /opt/ros/semantic_digital_twin/* 
        cd /opt/ros//semantic_digital_twin
        rm -rf .git .github .gitignore .gitmodules .readthedocs.yaml
        cp -r /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}/ros/src/semantic_digital_twin /opt/ros/

    - name: Install dependencies
      run: |
        sudo apt-get update
        cd /opt/ros/semantic_digital_twin
        source /opt/ros/semantic_digital_twin-venv/bin/activate
        git submodule init
        git submodule update
        pip install -U pip && pip install -r requirements.txt && pip install -e . && pip install pytest
        pip install -e ./src/ripple_down_rules_meta
        if [[ $(python3 --version) == "Python 3.10"* ]]; then
          PACKAGE_URL="https://nc.uni-bremen.de/public.php/dav/files/9XcXtFD3fDmpMTB/?accept=zip"
          PACKAGE_HASH="b921760cc13d43955636a9aec49bf4852ca168fc9c46c4a7f5d46e4171853149"
        elif [[ $(python3 --version) == "Python 3.12"* ]]; then
          PACKAGE_URL="https://nc.uni-bremen.de/public.php/dav/files/Z9yNsNT8nsCqQ9Z/?accept=zip"
          PACKAGE_HASH="3774d1b77180d337e613140c1eb8ec6a59044b8a70c7528666bf152e5599d2f2"
        fi
        if [[ -n "$PACKAGE_URL" ]]; then
          TMP_PKG="/tmp/multiverse_parser-0.0.8.tar.gz"
          curl -fsSL "$PACKAGE_URL" -o "$TMP_PKG"
          echo "$PACKAGE_HASH  $TMP_PKG" | sha256sum -c -
          pip install "$TMP_PKG"
          rm -f "$TMP_PKG"
        fi


    - name: Run tests
      run: |
        source /opt/ros/overlay_ws/install/setup.bash
        source /opt/ros/semantic_digital_twin-venv/bin/activate
        cd /opt/ros/semantic_digital_twin
        python -m pytest -v test/
