# .github/workflows/ci.yml
name: CI
defaults:
  run:
    shell: bash -ieo pipefail {0}

    
on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: "pycram/semantic_world:jazzy"
    steps:
    - uses: actions/checkout@v4
      with:
        path: "ros/src/semantic_digital_twin"
        repository: ${{ github.repository }}
        ref: ${{ github.ref }}
        submodules: 'false'
    - name: Update semantic_digital_twin source files
      run: |
        rm -rf /opt/ros/semantic_digital_twin/* 
        cd /opt/ros//semantic_digital_twin
        rm -rf .git .github .gitignore .gitmodules .readthedocs.yaml
        cp -r /__w/${{ github.event.repository.name }}/${{ github.event.repository.name }}/ros/src/semantic_digital_twin /opt/ros/

    - name: Install dependencies
      run: |
        sudo apt-get update
        cd /opt/ros/semantic_digital_twin
        source /opt/ros/semantic_digital_twin-venv/bin/activate
        git submodule init
        git submodule update
        pip install -U pip && pip install -r requirements.txt && pip install -e . && pip install pytest
        pip install -e ./src/ripple_down_rules_meta
        if [[ $(python3 --version) == "Python 3.10"* ]]; then
          PACKAGE_URL="https://nc.uni-bremen.de/public.php/dav/files/QHYjw2WqC98mxre/?accept=zip"
          PACKAGE_HASH="4398d35530790dc9597662116d2c6be4293d3b158a311ced2a6f671cd40b2431"
        elif [[ $(python3 --version) == "Python 3.12"* ]]; then
          PACKAGE_URL="https://nc.uni-bremen.de/public.php/dav/files/mnwAqFZLwQYJ7Rd/?accept=zip"
          PACKAGE_HASH="a7ab2c5383ef815b7b67341120dc0a6f0bad03a0734b96f3090e31e143023e86"
        fi
        if [[ -n "$PACKAGE_URL" ]]; then
          TMP_PKG="/tmp/multiverse_parser-0.0.6.tar.gz"
          curl -fsSL "$PACKAGE_URL" -o "$TMP_PKG"
          echo "$PACKAGE_HASH  $TMP_PKG" | sha256sum -c -
          pip install "$TMP_PKG"
          rm -f "$TMP_PKG"
        fi
#        echo "PATH=/opt/ros/overlay_ws/src/Multiverse-Parser/ext/blender:/opt/ros/overlay_ws/src/Multiverse-Parser/USD/linux/lib/python:/opt/ros/overlay_ws/src/Multiverse-Parser/USD/linux/plugin/usd:$PATH" >> $GITHUB_ENV
#        echo "PYTHONPATH=/opt/ros/overlay_ws/src/Multiverse-Parser/USD/linux/lib/python:/opt/ros/overlay_ws/src/src" >> $GITHUB_ENV


    - name: Run tests
      run: |
        source /opt/ros/overlay_ws/install/setup.bash
        source /opt/ros/semantic_digital_twin-venv/bin/activate
        cd /opt/ros/semantic_digital_twin
        python -m pytest -v test/
